body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/material.css';
@import '../node_modules/codemirror/theme/xq-light.css';
@import '../node_modules/prismjs/themes/prism.css';

.react-codemirror2 {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
}

.CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

#HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#brand-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload > input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}

#edit-image {
  max-width: 90vw;
  max-height: 20vh;
}

.cm-s-mdn-like.CodeMirror {
  height: auto;
}
